/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "malibu";
  src: url(malibu-ring-maisfontes.dbb5/malibu-ring.ttf);
}

@font-face {
  font-family: "Tan";
  src: url(/css/TAN_-_MON_CHERI/Web/TAN-MONCHERI.ttf);
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}
/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Fix the typo: changed '0' to 'border-box' */
  font-family: "Open Sans", sans-serif;
  background-color: black;
  color: #d9c9b0;
  font-family: "malibu";
}

.time {
  font-family: "Tan";
  color: white;
}

body {
  height: 100vh;
  color: aqua;
  line-height: 1.5;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  display: grid;
  align-items: center;
}

/* Navbar styles */
.navbar a {
  text-decoration: none;
  color: #f7e7ce;
  font-size: 1rem; /* Fix the typo: changed ',' to '.' */
}

.navbar a:hover {
  color: white;
}

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .navbar .logo span {
  color: #fbdfbb;
  font-family: "Poppins", sans-serif;
  margin-left: 50px;
} */

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.logo img {
  width: 50px; /* Adjust the size as needed */
  height: auto;
  margin-right: 10px; /* Adjust the margin as needed */
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn {
  color: #f7e7ce;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.navbar li {
  list-style: none;
}

/* Action button styles */
.action-btn {
  background-color: #4d3f2a;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}

.action-btn:hover {
  scale: 1.05;
  color: white;
}

.action-btn:active {
  scale: 0.95;
}

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action-btn {
    display: none;
  }

  .navbar.toggle-btn {
    display: blocks;
  }
  .dropdown-menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}
.dropdown-menu.open {
  height: 240px;
  opacity: 1;
  visibility: visible;
  background-color: #fff;
}
/* Dropdown Menu styles */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(225, 225, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #555;
}
.dropdown-menu .action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.toggle-btn i {
  font-size: 1.5rem;
}

/* Section styles */
section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.kats-pic img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  /* margin-top: -1000px; Adjust the top margin to move the image up */
}

#hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 2.1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.bday-celeb {
  max-width: 81rem;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}

li,
p {
  font-family: "Tan";
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

h1 {
  background: linear-gradient(90deg, black, transparent);
  background-size: 200%;
  animation: reveal both linear;
  animation-timeline: view();
  background-repeat: no-repeat;
  animation-range: entry 50% cover 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reveal {
  from {
    background-position-x: 200%;
  }
  to {
    background-position-x: 0%;
  }
}

.navbar a {
  text-decoration: none;
  color: #f7e7ce;
  font-size: 1, 500rem;
}

footer {
  background-color: #feedaa;
  color: #fff;
  padding: 20px;
  text-align: center;
}
